.block-editor .wsu-gutenberg-programs-list {
    z-index: 1;
    position: relative;
    pointer-events: none;

    /*=============================================
    =            Filter Controls            =
    =============================================*/
    &__controls {
        display: flex;
        flex-flow: row wrap;
        background-color: #a60f2d;
        padding: 1.5rem 2.25rem;
        margin: 0 -2.25rem 2.25rem -2.25rem;
        align-items: center;
        -moz-column-gap: 2.25rem;
        column-gap: 2.25rem;
        position: relative;
        z-index: 1;
    }

    &__control--select {
        position: relative;
    }

    &__control--search {
        flex-grow: 1;
    }

    &__search-input {
        width: 100%;

        &[type="text"] {
            font-size: 0.85rem;
            color: #fff;
            border: none;
            background-color: rgba(#78001e, 0.45);

            &:focus {
                box-shadow: none;
            }
        }

        &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.8);
        }
        &:-moz-placeholder {
            color: rgba(255, 255, 255, 0.8);
        }
        &::-moz-placeholder {
            color: rgba(255, 255, 255, 0.8);
        }
        &:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.8);
        }
    }

    &__control-group {
        display: flex;
        flex-flow: row wrap;
        -moz-column-gap: 2.25rem;
        column-gap: 2.25rem;
        padding-left: 4px;
    }

    &__control-button {
        color: #fff !important;
        padding: 0;
    }

    &__button-text {
    }

    &__button-icon {
        margin-right: 0;
        margin-left: 0.5rem;
    }
    /*=====  End of Filter Controls  ======*/

    /*=============================================
    =            Program List            =
    =============================================*/
    &__list-group {
        & + & {
            margin-top: 2.25rem;
        }
    }

    &__list-heading {
        font-size: 1.25rem;
        font-weight: 600;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0.6875rem;
    }

    &__list,
    &__list-item {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__list {
        font-size: 1rem;
        margin-bottom: 0.75rem;
    }

    &__list-item {
        margin-bottom: 1rem;
        display: flex;
        flex-flow: row wrap;
        -moz-column-gap: 0.6875rem;
        column-gap: 0.6875rem;
        row-gap: 0.25rem;
        align-items: center;
    }

    &__program-link {
    }

    &__degree-types {
        display: flex;
        flex-flow: row wrap;
        gap: 0.25em;
    }

    &__degree-type {
        font-size: 0.875rem;
        background: #f2f2f2;
        padding: 0.1em 0.75em;
        border-radius: 1em;
        font-weight: 500;
    }
    /*=====  End of Program List  ======*/
}
